﻿body {
    margin: 0;
}

.main {
    margin-left: 250px;
    padding: 8px 16px;
}

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: lightgray;
    top: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul#navbar li a, ul#navbar li span {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Calibri;
}

ul#navbar li a:hover {
    background-color: darkgray;
    color: white;
}

.active {
    background-color: gold;
    color: black;
}

.user {
    background-color: darkorange;
}


form div label, .error {
    display: block;
    text-align: left;
}

.error {
    color:red;
}

table
{
    font-family:Calibri;
}

tr:nth-child(even)
{
    background-color: palegoldenrod;
}

tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

thead tr:nth-child(1) {
    background-color: gold;
}